body {
	font-family: Verdana;
}

section#baner {
	background-color: #9692B1;
	color: white;
	text-align: center;
	height: 80px;
}

section#pl {
	background-color: #9692B1;
	color: white;
	width: 20%;
	height: 750px;
	float: left;
}

section#ppg {
	background-color: #FFF4CC;
	width: 80%;
	height: 300px;
	text-align: center;
	float: left;
}

section#ppd {
	background-color: #DBCC93;
	width: 80%;
	height: 450px;
	text-align: center;
	float: left;
}

section#stopka {
	background-color: #9692B1;
	color: white;
	text-align: right;
	clear: both;
}

a {
	color: white;
}

section#ppg img {
	width: 15%;
	margin: 20px;
}

section#ppd img {
	border: 4px solid #9692B1;
	
}

section#ppd img:hover {
	border: 4px solid grey;	
}












